.form {
  width: clamp(350px, 50%, 800px);
  padding: 10px;
  margin: 30px auto;
  background-color: rgb(156, 77, 77);
  border-radius: 10px;
}

.form-input {
  width: 90%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
}

.form-input__name {
  font-size: 1.5em;
  display: inline-block;
  font-weight: bold;
}

.form-button {
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}