.form {
  width: 50%;
  padding: 10px;
  margin: 30px auto;
  background-color: rgb(156, 77, 77);
}

.form-input {
  width: 90%;
  margin: 10px;
  padding: 5px;
}

.form-input__name {
  display: inline-block;
  font-weight: bold;
  padding: 0 15px;
}

.form-button {
  margin: 5px;
  padding: 5px 15px;
}
