.item {
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.item-button {
  text-align: right;
}
