.item {
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  border-radius: 10px;
  text-wrap: nowrap;
  position: relative;
}

.item:hover {
  opacity: 75%;
  border-color: greenyellow;
}

.item-checkbox {
  width: 20px;
  height: 20px;
}

.item-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.item-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.item-name {
  padding-left: 10px;
  text-wrap: balance;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-edit-input {
  padding: 1px;
  margin-right: 5px;
  width: 65%;
}

.item-edit-input_number {
  width: 40px;
}

.item-button {
  padding: 0 5px;
  margin-left: 5px;
  cursor: pointer;
}

.item-button_close {
  margin-left: 5px;
  width: 22px;
  height: 22px;
}

.item-date {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 0.7em;
}